.video-container {
    position: relative;
}

.active {
    color: "#FE4C00";
}

.scrollindicator {
    width: 400px;
    position: absolute;
    top:80%;
    left:4%;
    background-color: rgba(0, 0, 0, 0.8);
}

.box {
    position: absolute !important;
    top: 80% !important;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin: -9px;
    animation: animate 2s infinite;
}

.header-main {
    background-color: rgba(0, 0, 0, 0.5);
}

.box span:nth-child(2) {
    animation-delay: -.2s;
    transform: rotate(45deg) translate(-20px,-20px);
}

.box span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.modelContainer:hover {
    cursor: pointer;
}

@media (max-width:1062px) {
    .dark-man {
        display: none !important;
    }
}

@media (max-width:950px) {
    .woman {
        display: none !important;
    }
}