.video-container {
    position: relative;
}

.active {
    color: "#FE4C00";
}

.scrollindicator {
    width: 400px;
    position: absolute;
    top:35%;
    left:4%;
    background-color: rgba(0, 0, 0, 0.8);
}

.box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin: -9px;
    animation: animate 2s infinite;
}

.header-main {
    background-color: rgba(0, 0, 0, 0.5);
}

.box span:nth-child(2) {
    animation-delay: -.2s;
    transform: rotate(45deg) translate(-20px,-20px);
}

.box span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.gallery {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
}

.gallerytwo {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
    -webkit-column-width: 33% !important;
    -moz-column-width: 33% !important;
    column-width: 33% !important;
    padding: 0 12px !important;
}

.gallerytwo .pics {
    -webkit-transition: all 350ms ease !important;
    transition: all 350ms ease !important;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12 px;
}

@media (max-width: 991px) {
    .gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 900px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 500px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

.gallery .pics:hover {
    filter: opacity(.5);
}