.sidedrawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
  }
  
  .item {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
  }
  
  .item:hover {
    background-color: #555;
  }
  
  .active {
    background-color: #555;
  }
  .sidenav {
    /* Add your sidenav styles */
  }
  
  .sidenav-toggle {
    /* Add your sidenav toggle button styles */
  }
  
  .sidenav-item {
    /* Add your sidenav item styles */
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
  }
  
  .sidenav-item.active {
    /* Add your active sidenav item styles */
    font-weight: bold;
    color: #ff0000;
  }